.wallet {
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction:column;
    padding: 100px;
    padding-right: 200px;
    font-size: small;
    align-self: center;

}
.warning {
    color: red;
}